* {
    margin: 0;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 60px;
    background: pink;
    z-index: 100;
    padding: 0 10px;
    border-bottom: 2px solid black;
}

#saludo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#header-img {
    width: 67%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5px;
    margin-top: 5px;
}

h1 { 
    margin-right:50px;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
}

#nav-bar{
    align-self: center;
    width: 50%;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    text-align: center;
    margin: 0 auto 100px auto;
}

.ytp-cued-thumbnail-overlay-image {
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    align-self: center;
    margin-top: 100px;
}

#products-title {
    margin: 0 auto;
    width: 408px;
    margin-bottom: 25px;
}

#products {
    display: flex;
    justify-content: space-evenly;
}

#products-item {
    border: 2px solid black;
    width: 200px;
    height: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#products-item #title{
    color: white;
    height: 30px;
    background: gray;
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding-top: 3px;
    position: relative;
}

#products-item img {
    margin: 10px auto;
    height: 100px;
}

#products-item .price {
    font-size: 20px;
    margin: 15px auto;
}

#products-item ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

#products-item li{
    margin: 5px auto;
}

#products-item button {
    width: 100%;
    font-size: 20px;
    height: 30px;
    background: pink;
    border-top: 2px solid black;
}

button:focus {
    outline: none;
    color: white;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 50px;
    background: pink;
    margin-top: 50px;
    border-top: 2px solid black;
}

footer ul {

}

@media (max-width: 600px) {
   
}